node_modules/
target/
build/
.gradle/
.idea/
.vscode/
*.iml
*.log
tmp/
temp/
.DS_Store
package-lock.json
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.env
# JHipster specific
.yo-rc.json
.prettierrc
.prettierignore
.lintstagedrc.cjs
.gitattributes
.editorconfig
checkstyle.xml
sonar-project.properties
cypress-audits.config.ts
cypress.config.ts
eslint.config.mjs
jest.conf.js
postcss.config.js
ttsconfig.json
ttsconfig.test.json
Dockerfile
cloudbuild.yaml
README.md
mvnw
mvnw.cmd
npmw
npmw.cmd